.container{
    display:flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgb(23, 109, 179), rgba(184, 44, 91, 0.997));
    margin: 2px;
    padding: 3%;
    padding-top: 1%;
    width: 310px;
    height:380px;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.weather{
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}
.formcont{
    
    margin-top: 10%;
    margin-bottom: 10%;
}
.supercontainer{
    min-height: 80vh;
    min-width: 100vh ;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

input{
    border:white;
    border-radius: 3px;
    height:35px;
    width:70%;
    margin-right: 3%;
    
}
button{
    border:white;
    border-radius: 53px;
    height:38px;
    width:69px;
    padding:4%;
    background-color: rgba(4, 67, 21, 0.992);
    color: aliceblue;

}
.liveweather{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}